/* App.css */
.App {
  width: 1920px;
  height: 1080px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Welcome {
  color: black;
  font-size: 44px;
}

.React {
  color: black;
  font-size: 12px;
}

.Buttons {
  display: flex; /* Use flexbox to align the buttons */
  justify-content: space-between; /* Adjust the space between buttons */
  gap: 300px;
}

.Buttons > button {
  margin: 0 50px; /* Adds margin to left and right of each button */
}

.Custom_Button {
  height: 30px;
  width: 140px;
  font-size: 20px; /* Adjust the font size inside the buttons */
  margin: 0px; /* Adjust the space around the buttons */
  align-items: center;
}

.Custom_Button:hover {
  background-color: pink;
}

h0 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
  color: rgb(9, 108, 238);
  font-size: 40px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  color: orange;
  font-size: 20px;
  text-align: left;
}

h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
}

h4 {
  margin: 0;
  padding: 0;
  color: rgb(9, 108, 238);
  font-size: 30px;
}

h3{
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.Default {
  color: black;
  font-size: 20px;
}

.InputBox {
  width: 200px;
  height: 30px;
  padding: 0px;
  font-weight: bold;
}

.schedule_text{
  position: absolute;
  top: 40px;
  left: 20%;
  right: 40px;
}

.nannyImage{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 20px auto;
}
.HomePage{
  background-color: lightgreen;
}

body{
  background-color: #8c0af0;
  width: 50%;
  margin: 0;
  padding: 0;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  position: relative;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.help-container {
  position: relative; /* Establishes a positioning context */
  display: inline-block; /* Only as wide as its contents */
  padding-right: 20px;
}

.helpBox {
  background-color: #E6E6FA;
  display: none; /* Initially hidden */
  position: absolute;
  top: 0; /* Aligns to the top of the container */
  left: 100%; /* Positions to the right of the button */
  white-space: nowrap; /* Prevents wrapping if you want a single line */
  margin-left: 10px; /* Adds some space between the button and the help box */
  /* Add other styles as needed */
  font-size: 30px;
  color: black;
  height: auto ; /* 40px; */
  width: auto;  /* 920px; */
  border: 2px solid darkgray;
}

.icon{
  color: white;
}

.circleItem{
  font-size: 12px;
}

.circleItem div {
  display: block; /* forces new line */
}

.parentText{
  display: flex;
  align-items: left;
}

.users{
  font-size: 20px;
  color: white;
}

.helpButton{
  position: 'relative';
  display: 'inline-block';
}

.parentPage{
  display: flex;
}

.scheduleButtons{
  display: inline;
}

.xButton:hover{
  background-color: magenta;
}

.homePage{
  margin-top:100px;
  display: block;
  position: relative;
  top: 100px;
  margin-left: 0;
  padding-left: 0;
}

.schedulePage{
  display: flex;
  flex-direction: column;
}

.schedule_text{
  display: block;
}

.demo{
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
